<widget>
	<icon>fas fa-comment-dots</icon>
	<div class="AliceSay" id="AliceSay" data-ref="AliceSay">
		<div class="initialHidden" id="defaultSiteId">{{ options.defaultSiteId }}</div>
		<div class="TextInputWidget_body">
			<div id="ASTextInputWidget_login" class="initialHidden">
				<div>
					{{ lang.identify }}
				</div>
			</div>
			<div id="ASTextInputWidget_query">
				<div>
					<select class="TextInputWidget_input" id="ASsiteID" name="siteID">
					</select><label for="siteID">{{ lang.siteId }}</label>
				</div>
				<div>
					<input type="text" class="TextInputWidget_input" id="ASqry"/><label for="ASqry">{{ lang.query }}</label>
				</div>
				<div class="buttonLine">
					<button class="button" id="ASaliceSay">{{ lang.send }}</button>
				</div>
			</div>
		</div>
	</div>
</widget>
