<div class="TextInputWidget" id="TextInputWidget">
	<div class="hidden" id="defaultSiteId">{{ options.defaultSiteId }}</div>
	<div class="widgetIcons">
		<div class="widgetIcon">
			<i class="fas fa-comment-dots" aria-hidden="true"></i>
		</div>
	</div>
	<div class="TextInputWidget_body">
		<div id="TextInputWidget_login">
			<div>
				{{ lang.identify }}
			</div>
			<div>
				<input type="text" class="TextInputWidget_input" id="username" value="{{ options.defaultUser }}"/><label for="username">{{ lang.username }}</label>
			</div>
			<div>
				<input type="password" class="TextInputWidget_input" id="pin" value="{{ options.unencryptedPassword }}"/><label for="pin">{{ lang.pin }}</label>
			</div>
			<div class="buttonLine">
				<button class="button" id="login">{{ lang.login }}</button>
			</div>
		</div>
		<div id="TextInputWidget_query" class="initialHidden">
			<div class="buttonLine">
				<button class="button" id="logout">{{ lang.logout }}</button>
			</div>
			<div>
				<input type="text" class="TextInputWidget_input" id="sessionId" value=""/><label for="sessionId">{{ lang.sessionId }}</label>
			</div>
			<div>
				<select class="TextInputWidget_input" id="siteID"  name="siteID">
					<option value="test" selected>test</option>
				</select><label for="siteID">{{ lang.siteId }}</label>
			</div>
			<div>
				<input type="text" class="TextInputWidget_input" id="qry"/><label for="qry">{{ lang.query }}</label>
			</div>
			<div class="buttonLine">
				<button class="button" id="process">{{ lang.send }}</button>
			</div>
		</div>
	</div>
</div>
