<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
	<div class="TextInputWidget" id="TextInputWidget">
		<div class="widgetIcons">
			<div class="widgetIcon">
				<i class="fas fa-comment-dots" aria-hidden="true"></i>
			</div>
		</div>
		<div class="TextInputWidget_body">
			<div id="TextInputWidget_login">
				Please identify yourself<br/>
				<input id='username'/> Username<br/>
				<input id='pin'/> Pin<br/>
				<button onclick="doLogin()">Login</button><br/>
			</div>
			<div id="TextInputWidget_query">
				<button onclick="doLogout()">Logout</button><br/>
				<input id='siteID' value='default'/> SiteID<br/>
				<input id='qry'/> Query<br/>
				<button onclick="doProcess()">OK</button>
			<div/>
		</div>
	</div>
