.TextInputWidget {
	padding: .5em;
}
.TextInputWidget_body {
	margin-top: 10px;
	box-sizing: border-box;
    min-width: 11em;
	display: flex;
	justify-content: center;
}

.TextInputWidget input, .TextInputWidget select {
	width: 12em;
    margin: .1em .5em .1em 0;
}

.TextInputWidget .buttonLine{
	place-self: flex-end;
}

.TextInputWidget .button{
	font-size: 1.2em;
}
