.TextInputWidget {
	padding: .5em;
}
.TextInputWidget_body {
	box-sizing: border-box;
    min-width: 11em;
}

.TextInputWidget input {
	width: 12em;
    margin: .1em .5em .1em 0;
}

.TextInputWidget .buttonLine{
	place-self: flex-end;
}

.TextInputWidget .button{
	font-size: 1.2em;
}
